<% predictions,probablity=(0..1).map do |i| %>
<%return_prediction["temperature"][i].zip return_prediction["rain"][i],return_prediction["wind_dir"][i],return_prediction["wind_speed"][i]%>
<% end%>
<table class='display datatable'>
	<thead>
		<tr>
			<%columns.each do |c|%>
			<th class="text-center"><%= c.titleize%></th>
			<%end%>
		</tr>
	</thead>

	<tbody>
		<%predictions.each_with_index do |p,i|%>
		<tr>
		  <td class='col-min-width text-center'>in <%= i*10 %> minutes</td>
		  <%(0..p.count-1).each do |n|%>	
			<td class='col-min-width text-center'><%= p[n] %>(<%=(probablity[i][n]*(1-i/50.0)).round(3)%>)</td>
		  <%end%>
		</tr>
		<%end%>
	</tbody>
</table>