<% provide(:page_header,"Meteorology Station within PostCode: "+@post_code)%>

	<br/>
<% @wrecs.each do |station,recs|%>
<div class='col-lg-12'>
	<div class='panel panel-default'>
		<div class='panel-heading'>
			Meteorology Station: <%= station.name%>
		</div>
		<div class='panel-body'>
			<%= render :partial=>'weather_data_table', :locals => {:attributes => @attributes, :wrecs=>recs}%>
		</div>
	</div>
</div>

<%end%>
