#txt{
    position: float;
    top: 0; left: 0; bottom: 0; right: 0;
    font-family: courier, monospace;
    font-size: 20px;
}

html,body { height: 100%; width: 100%;}

body{
    background-image:url("sky.jpg");
}

div.b{
  background: url("weather_symbols.jpg") repeat;
}
div.transbox
{
  margin: 30px;
  background-color: #ffffff;
  opacity:0.75;
  filter:alpha(opacity=60); /* For IE8 and earlier */
}
div.transbox p
{
  margin: 5%;
  font-weight: bold;
  color: #000000;
}